* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace; }

:root {
  --blue: #0077ff; }

body {
  background-color: #fafafa;
  color: #333333; }
  body #app {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden; }
    body #app #chart {
      position: relative;
      flex-grow: 4; }
      body #app #chart #diskMapBox {
        width: 100%;
        height: 100%; }
      body #app #chart .d2b-chart-frame {
        width: auto !important;
        height: auto !important; }
      body #app #chart .d2b-breadcrumbs-frame {
        user-select: none; }
      body #app #chart .diskConToolBox {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 100; }
      body #app #chart .loadTipsBox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
    body #app #sidebar {
      background-color: #fff;
      max-width: 240px;
      min-width: 180px;
      flex-grow: 1;
      border-left: 1px solid #dddddd;
      padding: 10px 10px 0 15px;
      overflow-y: auto;
      overflow-x: hidden; }
      body #app #sidebar .useDisk {
        height: 100%; }
        body #app #sidebar .useDisk .title {
          margin-bottom: 1rem; }
        body #app #sidebar .useDisk .diskElem {
          transition: all 0.3s;
          user-select: none;
          border-radius: 3px;
          padding: 6px 8px;
          margin-bottom: 8px;
          cursor: pointer;
          background-color: #cccccc; }
          body #app #sidebar .useDisk .diskElem:hover {
            transform: scale(1.1); }
          body #app #sidebar .useDisk .diskElem.use {
            color: #fff;
            background-color: var(--blue); }
  body .loadTips {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .loadTips .loadTipsElem {
      border: 3px solid;
      position: absolute;
      border-radius: 4px;
      animation: ani ease infinite 2s; }
    body .loadTips .loadTipsElem:nth-child(1) {
      animation-delay: 0ms;
      width: 75px;
      height: 75px;
      border-color: #e99595;
      transform: translate(-50.00721px, 8.56327px) rotate(10deg); }
    body .loadTips .loadTipsElem:nth-child(2) {
      animation-delay: 50ms;
      width: 63px;
      height: 63px;
      border-color: #ebeb47;
      transform: translate(58.26368px, -35.02656px) rotate(177.55081deg); }
    body .loadTips .loadTipsElem:nth-child(3) {
      animation-delay: 100ms;
      width: 51px;
      height: 51px;
      border-color: #47eb47;
      transform: translate(-0.00186px, 57.41824px) rotate(40.14036deg); }
    body .loadTips .loadTipsElem:nth-child(4) {
      animation-delay: 150ms;
      width: 39px;
      height: 39px;
      border-color: #47ebeb;
      transform: translate(13.12332px, 4.81244px) rotate(10.87487deg); }
    body .loadTips .loadTipsElem:nth-child(5) {
      animation-delay: 200ms;
      width: 27px;
      height: 27px;
      border-color: #4747eb;
      transform: translate(47.24051px, -42.14723px) rotate(110.66886deg); }
    body .loadTips .loadTipsElem:nth-child(6) {
      animation-delay: 250ms;
      width: 15px;
      height: 15px;
      border-color: #ebcd47;
      transform: translate(49.78721px, -1.624px) rotate(75.16136deg); }

@keyframes ani {
  0% {
    opacity: 0; }
  80% {
    opacity: 1;
    transform: rotate(360deg); }
  100% {
    opacity: 0;
    transform: rotate(360deg); } }
  body button {
    background: #fff;
    border: .5px solid #aaaaaa;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s; }
    body button:active {
      transform: scale(0.9); }
    body button.function {
      background-color: var(--blue);
      border: var(--blue);
      color: #fff; }
  body .flexBox {
    display: flex; }
  body .flexFill {
    flex-grow: 1; }
